/** Style appliqué sur la div contenant le canvas **/
#divCanvas {
	background-color: #808080;
	width: 800px;
	height: 600px;
	margin: auto;
}

/** Instructions **/
#divInstructions {
	width: 800px;
	margin: auto;
	text-align: center;
}


/** Boutons **/
#divBtn {
	width: 1200px;
	margin: auto;
	text-align: center;
}
button {
	width: 120px;
}